<Files "index.html">
Header set Link "<https://orcid.org/0000-0002-5589-8511>; rel=\"author\", <https://doi.org/10.59348/1yb0q-ta766>; rel=\"cite-as\", <https://schema.org/BlogPosting>; rel=\"type\", <https://schema.org/AboutPage>; rel=\"type\", <https://creativecommons.org/licenses/by/4.0/>; rel=\"license\", <https://eve.gd/2013/01/13/on-opposition-to-any-apc-model/metadata.json>; rel=\"describedby\"; type=\"application/ld+json\"; profile=\"https://schema.org/\", <https://eve.gd/PDF/2013-01-13-on-opposition-to-any-apc-model.pdf>; rel=\"item\"; type=\"application/pdf\""
</Files>
<Files "metadata.json">
ForceType application/ld+json
</Files>
