<Files "index.html">
Header set Link "<https://orcid.org/0000-0002-5589-8511>; rel=\"author\", <https://doi.org/10.59348/pn344-gfd74>; rel=\"cite-as\", <https://schema.org/BlogPosting>; rel=\"type\", <https://schema.org/AboutPage>; rel=\"type\", <https://creativecommons.org/licenses/by/4.0/>; rel=\"license\", <https://eve.gd/2015/10/17/re-hosting-the-2014-british-academy-report-on-oa-journals-in-the-humanities-and-social-sciences/metadata.json>; rel=\"describedby\"; type=\"application/ld+json\"; profile=\"https://schema.org/\""
</Files>
<Files "metadata.json">
ForceType application/ld+json
</Files>
